.links .links-info a {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: rgb(23, 23, 67);
  margin-bottom: 2px;
}
.links .links-info a:hover {
  text-decoration: underline;
}
.contact-info {
  padding: 2rem;
}
.contact-info p {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}
.sideBarIconToggle,
input {
  display: none;
  height: 3px;
}
@media (max-width: 769px) {
  .tabs {
    overflow: hidden;
    max-height: 0;
    width: 100%;
  }
  .sideBarIconToggle {
    display: inline-flex;
  }
  #opneSideBarMenu:checked ~ .tabs {
    max-height: 100%;
    transform: translateY(90deg);
  }
  .tabs ul {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    z-index: 100;
  }
  .footer {
    display: grid;
    height: auto;
  }
  .aboutbox {
    height: fit-content;
    width: 100%;
  }
  .about-text {
    font-size: medium;
  }
  .aboutFooter,
  .links,
  .contactFooter {
    width: auto;
  }
  .about-info,
  .links-info,
  .contact-info {
    padding: 1rem;
  }
  .copyrightFooter {
    font-size: small;
  }
}
